
nav {
    background-color: #333;
    width: 100vw;
    position: sticky;
    z-index: 10;
    font-size: 0.9rem;
}

section {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}
.nav-logo{
    height: 1.8rem;
}
.nav-left{
    display: flex;
    width:85%;

}
.nav-links {
    margin-left: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links a{
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 13px;
    transition: 0.6s ease;
}
.nav-links a:hover {
    color: rgb(156, 156, 156);
}

.nav-right {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}